<% content_for :title, "New Comment" %>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-body">
          <h1 class="card-title mb-4">New Comment</h1>

          <%= render "form", comment: @comment %>

          <div class="mt-4">
            <%= link_to "Back to comments", document_path(@document), class: "btn btn-secondary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
