<% content_for :title, "Editing User" %>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <div class="card shadow-sm">


        <div class="card-body">
          <h1 class="card-title mb-4 text-center">Edit User</h1>

          <%= render "form", user: @user %>

          <div class="mt-4 text-center">
            <%= link_to "Show this User", @user, class: "btn btn-info me-2" %>
            
            <%= link_to "Back to Users", users_path, class: "btn btn-secondary" %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
