<% content_for :title, "New User" %>


<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <div class="card shadow-sm">
        <div class="card-body">
          <h1 class="card-title mb-4 text-center">Sign Up</h1>

          <%= render "form", user: @user %>



          <div class="mt-4 text-center">
            <%= link_to "Back to Users", users_path, class: "btn btn-secondary me-2" %>
            <p class="mt-3">
              Returning user? <%= link_to "Sign In", login_path, class: "link-primary" %>
            </p>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
