<% content_for :title, "Editing session controller" %>

<h1>Editing session controller</h1>

<%= render "form", session_controller: @session_controller %>

<br>

<div>
  <%= link_to "Show this session controller", @session_controller %> |
  <%= link_to "Back to session controllers", session_controllers_path %>
</div>
