<p style="color: green"><%= notice %></p>

<% content_for :title, "Session controllers" %>

<h1>Session controllers</h1>

<div id="session_controllers">
  <% @session_controllers.each do |session_controller| %>
    <%= render session_controller %>
    <p>
      <%= link_to "Show this session controller", session_controller %>
    </p>
  <% end %>
</div>

<%= link_to "New session controller", new_session_controller_path %>
