<% content_for :title, "New session controller" %>

<h1>New session controller</h1>

<%= render "form", session_controller: @session_controller %>

<br>

<div>
  <%= link_to "Back to session controllers", session_controllers_path %>
</div>
